# Reserve a directory for personal stuff
personal

# OS X
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
.tox/

# frontend files that shouldn't be committed
frontend/dist/
frontend/build/
frontend/coverage/
frontend/node_modules/
*.js.map

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# database files
postgres-data/

# config files
config.ini
config/*
^config/README.md
^config/updates/README.md
