astroid==2.3.3
click==7.1.1
coverage==5.3
Flask==1.1.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
peewee==3.13.2
psycopg2-binary==2.8.5
pylint==2.4.4
six==1.14.0
Werkzeug==1.0.1
wrapt==1.11.2
requests
Flask-Caching==1.7.1
flask-login==0.5.0
Flask-Dance==5.1.0
Flask-Session
apscheduler==3.7.0
pdfrw2==0.5.0
PyMuPDF==1.19.6
qrcode==7.3.1
cryptography==3.4.7
endesive==2.0.9
boto3==1.17.54
moto==2.0.8
google-auth
