@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ddd center / cover no-repeat url("/images/background.jpg") fixed;
  margin: 0;
  padding: 0 5px;
  min-height: calc(100vh - 56px);
  width: 100%;
}

/* Used in navigation.tsx ============================================================================ */
.menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 51px;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #aaa;
}

.wrapper {
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.main {
  opacity: 0.9;
  position: relative;
  margin-top: calc(10vh);
  margin-bottom: 210px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  min-height: calc(45vh);
}

.link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

.logo {
  position: fixed;
  z-index: -3;
  width: 100%;
  text-align: center;
  top: 10vh;
  justify-content: center;
  font-variant: small-caps;
  font-size: 2.5em;
  color: #eee;
}

.hidden {
  visibility: hidden;
}

.menuButton {
  height: 52px;
  font-size: 1em;
}

.trigram {
  font-size: 1.8em;
  padding-right: 7px;
  margin-top: -5px;
}

list-item {
  display: block;
}

/* Used in static_pages.tsx ======================================================================= */

.staticMain {
  padding: 0.25em 1em 0.5em 1em;
  display: flex;
  flex-direction: column;
}

.euLogo {
  text-align: center;
}

.euLogo img {
  display: inline;
  height: 15vh;
}

.euText {
  margin: 10px 10px;
  display: inline;
  font-size: 0.65em;
}

.logoImage {
  width: 15vh;
  max-width: 30vw;
  height: 15vh;
  float: right;
}

.footer {
  z-index: -4;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  background: white;
  display: flex;
  opacity: 0.9;
  text-align: left;
}

.heading {
  margin-top: 30px;
}

.pSpace {
  padding-bottom: 20px;
}

.pSpace p a {
  padding-right: 4px;
}

/* desktop */
@media screen and (min-width: 660px) {
  .main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .menuButton {
    font-size: 1.2em;
  }

  .trigram {
    font-size: 2em;
    margin-top: -7px;
  }

  .euText {
    font-size: 1em;
  }

  .logo {
    font-size: 4em;
    color: #222;
  }
  /* stylelint-disable */
  body {
    background: #ddd center / cover no-repeat url("/images/background.jpg")
      fixed;
    padding: 0 20px;
  }
  /* stylelint-enable */
}

@media screen and (max-width: 320px) {
  .logoImage {
    width: 10vh;
    height: 10vh;
  }

  .euLogo img {
    display: inline;
    height: 10vh;
  }

  .euText {
    font-size: 0.5em;
  }
}

/* Used in filter_table.tsx, genebank_view.tsx and sorted_table.tsx ==================================== */

.table {
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
}

/* Used in filter_table.tsx, sorted_table.tsx =========================================================== */

.sortedTable {
  padding: 5px;
  overflow-y: scroll;
}

/* Used in filter_table.tsx ============================================================================= */

.columnLabel {
  padding-right: 30px;
}

.columnSelect {
  z-index: 15;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.functionLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* Used in filter_table.tsx and sorted_table.tsx ======================================================= */
.sorted {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}

/* Used in filter_table.tsx =========================================================================== */
.search {
  float: right;
}

.bottomButton {
  float: left;
}

.title {
  font-size: 1.33em;
  font-weight: bold;
}

.animalList {
  cursor: pointer;
}

.animalList:hover {
  color: blue;
}

/* Used in herd_view.tsx ============================================================================= */
.container {
  padding: 20px;
}

/* Used in herdForm.tsx ============================================================================== */
form {
  display: flex;
  flex-direction: row;
}

.simpleField {
  width: 100%;
}

.titleHerd {
  font-size: 2em;
  border-bottom: 1px solid lightgrey;
  margin: 5px 0 20px 0;
}

.subheading {
  font-size: 14;
  border-bottom: 1px solid lightgrey;
  margin: 20px 0 5px 0;
}

.formCard {
  padding: 15px;
  margin: 10px;
  max-width: 450px;
  border: 1px solid grey;
  border-radius: 5px;
}

.editButton {
  float: right;
  margin: 20px 0 0 0;
}

.editLink {
  color: blue;
}

.editLink:hover {
  color: purple;
  cursor: pointer;
}

.spanTitle {
  font-weight: bold;
  margin-left: 20px;
}

.contactInfo {
  margin-bottom: 30px;
}

.permissionGroup {
  display: flex;
  flex-direction: row;
}

.permissionField {
  width: 200px;
}

/*  Used in field_with_permission.tsx */
.permissionFieldExtended {
  width: 200px;
  margin-top: 0;
  margin-left: 5px;
}

,
.buttonBar {
  padding: 5px;
}
